@*@using PagedList;
    @using PagedList.Mvc;*@

@model List<Result>
@{
    ViewBag.Title = "Search";

}
<table style="width:70%;text-align:justify;padding:2px;margin-left:15%;margin-right:15%;">
    <tr>
        <td><img src="~/images/search.gif" height="20px" width="20px"><b>Your Search Details:</b>@ViewBag.Search</td>
    </tr>
</table>
<br />
<table style="width:70%;text-align:justify;padding:2px;margin-left:15%;margin-right:15%;">
    <tr>
        <td>
            <ul>
                @foreach (var item in Model)
                {
                    <li style="width:500px">
                        <a href="@item.Link" style="color:blue">@item.Title</a><br />
                        <span style="font-size:15px;color:green">@item.Link</span><br />
                        <span style="color:gray">@item.Snippet</span>
                    </li>
                }

            </ul>
        </td>
    </tr>
</table>

@*@Html.DisplayNameFor(Model => ((PagedList.PagedListMetaData)Model).TotalItemCount)*@
